.git
.github
target
tmp

node_modules
**/node_modules

.next
**/.next
coverage
**/coverage

dist
build

__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd

.pytest_cache
.mypy_cache
.ruff_cache

.venv
venv

output.txt